.profile .app_tab{position:relative;zoom:1;overflow:hidden}.pagelet_app_runner_centered{text-align:center}
.sp_7cUIBR9qpsC_1_5x{background-image:url(/rsrc.php/v3/ya/r/sQ5JmKPCv9s.png);background-size:18px 36px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_7cUIBR9qpsC_1_5x.sx_d91bdf{background-position:0 0}.sp_7cUIBR9qpsC_1_5x.sx_1d3815{background-position:0 -18px}

#bootloader_3upcZ{height:42px;}.bootloader_3upcZ{display:block!important;}